<div class="row">
  <div class="col-md"><h4><%- title %></h4></div>
</div>
<div class="row">        
  <div class="col-md-2">Subgroup:</div>
  <div class="col-md-2"><%= subname %></div>
</div>
<div class="row">        
  <div class="col-md"><h5>Posts</h5></div>
</div>  
<table class="table table-striped">
<% posts.forEach(post => { %>
  <tr>
    <td>
      <a href="/posts/show/<%=post.id%>"><%= post.title %></a>
      <p><%= post.description %>
      Created by: <%= post.createdBy %></p>          
      <%- include('partials/voting.ejs', { "post": post, "votingItemCssClass": "layout-horizontal"}) %>
    </td>
  </tr>
<% }) %>
</table>